ckpts/vggish_model.ckpt
models/research/object_detection/test_images/image2.jpg
models/research/object_detection/g3doc/img/kites_with_segment_overlay.png
models/research/object_detection/g3doc/img/dataset_explorer.png
models/research/object_detection/test_ckpt/ssd_inception_v2.pb
models/research/syntaxnet/dragnn/python/testdata/ud-hungarian.params
models/research/syntaxnet/dragnn/core/testdata/simple-tagger.repository
models/research/syntaxnet/dragnn/core/testdata/repository
models/research/syntaxnet/dragnn/conll2017/sample/zh-segmenter.checkpoint.meta
models/research/syntaxnet/dragnn/conll2017/sample/zh-segmenter.checkpoint.data-00000-of-00001
models/research/syntaxnet/syntaxnet/models/parsey_mcparseface/parser-params
models/research/syntaxnet/syntaxnet/models/parsey_mcparseface/tagger-params
models/research/syntaxnet/examples/dragnn/data/es/es-universal-train.conll
models/research/syntaxnet/examples/dragnn/data/es/es-universal-dev.conll
models/research/syntaxnet/examples/dragnn/data/en/segmenter/checkpoint.meta
models/research/syntaxnet/examples/dragnn/data/en/segmenter/checkpoint.data-00000-of-00001
models/research/syntaxnet/examples/dragnn/data/en/checkpoint
models/research/compression/image_encoder/example.png
models/research/audioset/vggish/audio_0.lst
models/research/audioset/vggish/audio_3.lst
models/research/audioset/vggish/audio_1.lst
models/research/audioset/vggish/audio_2.lst
models/research/deeplab/testing/pascal_voc_seg/val-00000-of-00001.tfrecord
models/research/tcn/g3doc/im.gif
models/research/gan/image_compression/testdata/validation-00000-of-00128
models/research/gan/image_compression/testdata/train-00000-of-00128
models/research/gan/tutorial.ipynb
models/research/gan/mnist/testdata/mnist_test.tfrecord
models/research/gan/mnist/data/infogan_model.ckpt
models/research/gan/mnist/data/classify_mnist_graph_def.pb
models/research/lfads/synth_data/trained_itb/model-65000.meta
models/research/attention_ocr/python/datasets/testdata/fsns/fsns-00000-of-00001
models/.git/objects/pack/pack-3e6cd09a658cec134aec3c4093f1b568e914af6b.pack
split-audio.pkl
